* {
    margin: 0;
    padding: 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  
  body {
    background-color: snow;
    display: flex; 

  }
  
  #tittle  {
    height: 80px; 
    display: flex; 
    justify-content: stretch; 
    align-items: stretch;
    color: darkslategray;
  }

  
  
  main {
    display: flex; 
    justify-content: center;

  }
  
  form {
    width: 400px;
    height: 350px;
    background-color: #eb5266;
    position: relative;
    display: flex; 
    flex-direction: column;
    justify-content: space-evenly; 
    align-items: center;
    margin: 25px;
    border-radius: 5%;
  }
  
  button {
    background-color: #ffffff;
    width: 300px;
    height: 40px;
    color: #c74aba;
    border-radius: 5%;
    margin: 5px;
  }
  
  input[type='text'] {
    width: 85%;
    height: 30px;
    border: none;
    border-bottom: 2px solid #232323;
    color: #232323;
    background-color: snow;
  }
  
  #rate-container {
    width: 85%;
  }
  
  #radio-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  #jokes-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
  }
  
  .joke-cover-image {
    width: 300px; 
    height: 300px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
  }
  
  .joke-card {
    background-color: #fff7f7;
    width: 300px;
    margin: 20px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 12px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
  
  .joke-joke {
    font-size: 18px;
    margin: 5px 0;
  }
  
  .joke-rate {
    font-size: 15px;
    margin: 5px 0;
  }
  
  .btns-container {
    width: 100%; 
    display: flex;
    justify-content: space-evenly;
    margin: 5px;
  }
  
  .btns-container > button {
    width: 30px;
    border-radius: 50%;
  }